<form  [formGroup]="group">
  <ng-container *ngFor="let item of fields; let i = index;">
    <div class="form-group row">
      <div class="col-12">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text" [ngClass]="{required: item.required}">{{item.label}}</div>
          </div>
          <input [type]="item.type" class="form-control" formControlName="{{item.name}}"
              [ngClass]="{'is-invalid': (f[item.name].errors && ( f[item.name].dirty || f[item.name].touched)) }">
                <div *ngIf="item.required && f[item.name].errors" class="invalid-feedback">
                  <app-registration-errors [hasError]="f[item.name]"></app-registration-errors>
                </div>
        </div>
      </div>
    </div>
  </ng-container>
  <button type="submit" class="btn btn-primary mb-2">{{btn}}</button>
</form>
